@model Longhorn_Music_Team_17.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
       
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", {"id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#cart-tax').text(data.Tax);
                        $('#cart-grandtotal').text(data.Total);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });

</script>

<h3>
    Review your cart:
</h3>

@if (User.IsInRole("Customer"))
{
    <p class="button">
        @Html.ActionLink("Checkout", "NewOrder", "Checkout")
    </p>
}


<div id="update-message">
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Shopping Cart</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <th>
                Album/Song Title
            </th>

            <th>
                Artist
            </th>
            <th>
                Rating
            </th>                 
            <th>
                Quantity
            </th>
            <th>
               Price (each)
            </th>
            <th></th>
            <th></th>
            
        </tr>

        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordID">
                <td>
                    @if (item.AlbumID != null)
                    {
                        @Html.ActionLink(item.Album.AlbumTitle, "Details", "Albums", new { id = item.AlbumID }, null)
                    }
                    else
                    {
                        @Html.ActionLink(item.Song.SongTitle, "Details", "Songs", new { id = item.SongID }, null)
                    }
                </td>

                <td>      
                     @if (item.AlbumID != null)
                     {
                         foreach (var artist in item.Album.Artists)
                         {
                            @Html.DisplayFor(modelitem => artist.ArtistName)  if (item.Album.Artists.IndexOf(artist) < item.Album.Artists.Count - 1)
                             {
                                <span> &amp;</span> <br />
                             }
                         }
                     }
                     else
                     {
                         foreach (var artist in item.Song.Artists)
                         {
                        @Html.DisplayFor(modelitem => artist.ArtistName)  if (item.Song.Artists.IndexOf(artist) < item.Song.Artists.Count - 1)
                             {
                            <span> &amp;</span> <br />
                             }
                         }
                     }
                </td>

                <td>
                    @if (item.AlbumID != null)
                    {
                        if (item.Album.Ratings.ToList().Any())
                        {
                            @item.Album.Ratings.ToList().Average(x => x.RatingScore).ToString("0.#")
                            }

                    }
                    else
                    {
                        if (item.Song.Ratings.ToList().Any())
                        {
                            @item.Song.Ratings.ToList().Average(x => x.RatingScore).ToString("0.#")
                        }
                    }
                </td>
                       
              @*  <td>
        @if (item.AlbumID != null)
        {
            @item.Album.DiscountedPrice
        }
        else

        {
            @item.Song.DiscountedPrice
        }
    </td> *@

                <td id="item-count-@item.RecordID">
                    @item.Count
                </td>
                <td>
                    @if (item.AlbumID != null)
                    {
                        @item.Album.DiscountedPrice
                    }
                    else
                    {
                        @item.Song.DiscountedPrice
                    }
                </td>

                <td>
                    <a href="#" class="RemoveLink"
                       data-id="@item.RecordID">
                        Remove from cart
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="5">
                Subtotal
            </td>                         
            <td id="cart-total">
                @Model.CartTotal
            </td>
            <td></td>
        </tr>

        <tr>
            <td colspan="5">
                Tax
            </td>
          
            <td id="cart-tax">
                @Model.Tax
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>Total</strong>
            </td>
     
            <td id="cart-grandtotal">
                <strong>@Model.Total</strong>
            </td>
            <td></td>
        </tr>
    </table>
 </div>
