@model Longhorn_Music_Team_17.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Account Details";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-4">
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>First Name:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.FirstName)
            </dd>
            <dt>Last Name:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.LastName)
            </dd>
            <dt>Email:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.EmailAddress)
            </dd>
            <dt>Phone:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.PhoneNumber)
            </dd>
            <dt>Address:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.StreetAddress)
            </dd>
            <dt>City:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.City)
            </dd>
            <dt>State:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.State)
            </dd>
            <dt>ZipCode:</dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerDetails.ZipCode)
            </dd>
            <dt>Password:</dt>
            <dd>
                [@Html.ActionLink("Change your password", "ChangePassword")]
            </dd>
            <dt>@Html.ActionLink("Edit", "Edit")</dt>
        </dl>
    </div>

    <div class="col-md-6">
        <h4></h4>
        <hr />

        <table class="table" style="width:60%">
            @foreach (var item in Model.Cards)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.CardNumber)</td>
                <td>@Html.DisplayFor(m => item.Type)</td>
                <td>@Html.ActionLink("Remove", "DeleteCard", new { id = item.CardID })</td>
            </tr>
            }
            
                @if (Model.Cards.Count() < 2)
                {
                    <tr>
                        <td>@Html.ActionLink("Add Card", "AddCard")</td>
                    </tr>  
                }
            
        </table>
        @if (ViewBag.CardsMaxed == true)
        {
            @ViewBag.ErrorMessage
        }

    </div>
</div>