

@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@if (User.IsInRole("Manager"))
{
<div>@Html.ActionLink("Create New Role", "Create")</div>  
<div>@Html.ActionLink("User List", "Index", "RoleAdmin")</div>
}
<hr />


<h2>Add Role to User</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p class="text-success">@ViewBag.ResultMessage</p>

    <p>
        Username : @Html.TextBox("UserName")
        Rolename : @if (User.IsInRole("Manager"))
        {@Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")}
        else {@Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.CustomerRoles, "Select ...")}
        <input type="submit" value="Save" />
    </p>

    
}
<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.TextBox("UserName")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p class="text-success">@ViewBag.ResultMessage</p>

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
        <input type="submit" value="Delete this user from Role" />
    </p>

    
}
