@model Longhorn_Music_Team_17.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
    @Html.DisplayNameFor(model => model.SongTitle)
</dt>
<dd>       
    @Html.DisplayFor(model => model.SongTitle) 
    @if (User.IsInRole("Customer"))
    { @Html.ActionLink("Add to Cart", "AddSongToCart", "ShoppingCart", new { id = Model.SongID }, null)}
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Artists)
</dt>
<dd>
    @foreach (var artist in Model.Artists)
    {
        @Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)  if (Model.Artists.IndexOf(artist) < Model.Artists.Count - 1)
        {
            <span> &amp;</span> <br />
        }
    }
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Albums)
</dt>
<dd>
   @foreach (var album in Model.Albums)
   {
    @Html.ActionLink(album.AlbumTitle, "Details", "Albums", new { id = album.AlbumID }, null)  if (Model.Albums.IndexOf(album) < Model.Albums.Count - 1)
       {
        <span> &amp;</span> <br />
       }
   }
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Genres)
</dt>
<dd>
   
    @foreach (var genre in Model.Genres)
    {
        @Html.DisplayFor(model => genre.GenreName)  if (Model.Genres.IndexOf(genre) < Model.Genres.Count - 1)
        {
            <span> &amp;</span> <br />
        }
    }
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Ratings)
</dt>
<dd>
    @if (Model.Ratings.ToList().Any())
    {
        @Model.Ratings.ToList().Average(x => x.RatingScore).ToString("0.#")
    }
</dd>
<dt>
    @Html.DisplayNameFor(model => model.SongPrice)
</dt>

<dd>
    @if (Model.SongPrice != Model.DiscountedPrice)
            {
        <strike>@Html.DisplayFor(model => model.SongPrice)</strike> <strong style="color:red">@Html.DisplayFor(model => model.DiscountedPrice)</strong>
    }
    else
    {
        @Html.DisplayFor(model => model.SongPrice)
    }
</dd>
@if (Model.SongPrice != Model.DiscountedPrice)
{
    <dt>
        Savings
    </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
} 
        <dt>
            @if ((User.IsInRole("Customer")) || (User.IsInRole("DisabledCustomer")))
            {
                @Html.ActionLink("Review This Song", "Create", "Reviews", new { id = Model.SongID, name = "songReview" }, null)
            }
        </dt>
        <dd>
            @ViewBag.ReviewError
        </dd>
    </dl>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            Album Information
        </th>
    </tr>
    @foreach (var album in Model.Albums)
    {
        <tr>
            <td>@Html.ActionLink(album.AlbumTitle, "Details", "Albums", new { id = album.AlbumID }, null)</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <tr>
        <th>
            Artist Information
        </th>
    </tr>
    @foreach (var artist in Model.Artists)
    {
        <tr>
            <td>@Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)</td>
        </tr>
    }
</table>

<p>
@if (User.IsInRole("Manager"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongID })     
    }
</p>

<table class="table table-bordered">
    <tr>
        <th>
            Users
        </th>
        <th>
            Reviews
        </th>
        <th>
            Ratings
        </th>

    </tr>
    @foreach (var item in Model.Reviews)
    {
        if (item.Comment != null && item.Comment != "")
        {
            <tr>
                <td>@item.Owner.UserName</td>
                <td>@item.Comment</td>
                <td>@((int)item.RateNum)</td>
            </tr>
        }
    }
</table>