@model Longhorn_Music_Team_17.Models.Album

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumTitle) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumTitle) 
            @if (User.IsInRole("Customer"))
            { @Html.ActionLink("Add to Cart", "AddAlbumToCart", "ShoppingCart", new { id = Model.AlbumID }, null) }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artists)
        </dt>

        <dd>
            @foreach (var artist in Model.Artists)
            {
                @Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)  if (Model.Artists.IndexOf(artist) < Model.Artists.Count - 1)
                {
                    <span> &amp;</span> <br />
                }
            }
        </dd>  

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
      
        <dd>
            @foreach (var genre in Model.Genres)
            {
                @Html.DisplayFor(model => genre.GenreName)  if (Model.Genres.IndexOf(genre) < Model.Genres.Count - 1)
                {
                    <span> &amp;</span> <br />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>

        <dd>
            @if (Model.Ratings.ToList().Any())
            {
                @Model.Ratings.ToList().Average(x => x.RatingScore).ToString("0.#")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd> *@
        <dd>
            @if (Model.AlbumPrice != Model.DiscountedPrice)
            {
        <strike>@Html.DisplayFor(model => model.AlbumPrice)</strike> <strong style="color:red">@Html.DisplayFor(model => model.DiscountedPrice)</strong>
             }
            else
            {
                @Html.DisplayFor(model => model.AlbumPrice)
            }
        </dd>
         @if (Model.AlbumPrice != Model.DiscountedPrice)
         {
            <dt>
                Savings
            </dt>
                <dd>
                    @Html.DisplayFor(model => model.DiscountAmount)
                </dd>

                @*<dt>
                @Html.DisplayNameFor(model => model.FeaturedAlbum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FeaturedAlbum)
            </dd> *@
         }
         <dt>
             @if ((User.IsInRole("Customer")) || (User.IsInRole("DisabledCustomer")))
             {
                 @Html.ActionLink("Review This Album", "Create", "Reviews", new { id = Model.AlbumID, name = "albumReview" }, null)
             }
         </dt>
        <dd>
            @ViewBag.ReviewError
        </dd>

    </dl>
</div>
<p>@if (User.IsInRole("Manager"))
   {
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID } ) 
   }
</p>

<table class="table table-bordered">
    <tr>
        <th>
            Artist Information
        </th>
    </tr>
    @foreach (var artist in Model.Artists)
    {
        <tr>
            <td>@Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <tr>       
        <th>
            Album Songs and Information
        </th>
                
    </tr>
        @foreach (var item in Model.Songs)
        {
        <tr>                   
                    <td>@Html.ActionLink(item.SongTitle, "Details", "Songs", new { id = item.SongID }, null)</td>           
        </tr>
        }
</table>

<table class="table table-bordered">
    <tr>
        <th>
            Users
        </th>
        <th>
            Reviews
        </th>
        <th>
            Ratings
        </th>

    </tr>
    @foreach (var item in Model.Reviews)
    {
        if (item.Comment != null && item.Comment != "")
        {
            <tr>
                <td>@item.Owner.UserName</td>
                <td>@item.Comment</td>
                <td>@((int)item.RateNum)</td>
            </tr>
        }
    }
</table>


