@model IEnumerable<Longhorn_Music_Team_17.Models.Artist>
@using Longhorn_Music_Team_17.Controllers;
@{
    ViewBag.Title = "ArtistSearch";
}
<head>
    <link href="~/Content/Search.css" rel="stylesheet" type="text/css" />
</head>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("SearchResults", "Library", FormMethod.Get))
        {
            <br />
                <div class="row">
                    <!--submit buttons for different search types-->
                    <ng-form class="form-inline">
                        <div class="col-md-2">
                            <font size="3"> Artists </font>
                            <input type="submit" name="btn1" value="Songs" class="btn btn-xs btn-default" />
                            <input type="submit" name="btn1" value="Albums" class="btn btn-xs btn-default" />
                        </div>
                            <!--textboxes for search parameters-->
                        <div class="col-md-6">
                            <button name="btn1" value="Artists" type="submit" , class="btn btn-primary btn-sm">Search</button>
                            @Html.TextBox("SearchArtist", null, new { @class = "form-control input-sm", Placeholder = "Artist Name" })
                        </div>
                            <!--order by parameters (dropdown)-->
                        <div class="col-md-4 text-center">
                            <label class="form-check-label">
                                @Html.DropDownList("SelectedOrderTypeArtists", EnumHelper.GetSelectList(typeof(OrderTypeArtists)), "-order by-", new { @class = "form-control btn-sm", @style = "width:100px;" })
                            </label>
                            <label class="form-check-label">
                                @Html.DropDownList("SelectedSortOrder", EnumHelper.GetSelectList(typeof(SortOrder)), new { @class = "form-control btn-sm", @style = "width:110px;" })
                            </label>
                        </div>
</ng-form>
                </div>
                <p class="form-group">
                    <div class="searchParams">
                        <div class="col-md-2">

                            <div class="checkboxes">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @foreach (var item in ViewBag.GenreList)
                                            {
                                                <div class="checkbox">
                                                    <label>
                                                        @if (ViewBag.trueGenres != null)
                                                        {
                                                            if (ViewBag.trueGenres.Contains(@item.Key))
                                                            {
                                                                <input type="checkbox" name="SelectedGenres" value="@item.Key" checked /> @item.Value
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="SelectedGenres" value="@item.Key" /> @item.Value
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="SelectedGenres" value="@item.Key" /> @item.Value
                                                        }
                                                    </label>
                                                </div>
                                            }
                                        </div>                      <!--dynamically generate genre list (checkboxes)-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>

        <div class="searchResults col-md-10">
            <table class="table table-hover" cellspacing="0" id="search" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th width="50%">
                            Artists <font size="1" weight="-2">(@ViewBag.numResults results)</font>
                        <th width="50%">
                            Ratings     <!--should be changed to rating when added to database-->
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="50%">
                                @Html.ActionLink(item.ArtistName ?? "-unknown-", "Details", "Artists", new { id = item.ArtistID }, null)  <!--should be updated when page is added-->
                            </td>
                            <td width="50%">
                                @Html.DisplayFor(modelItem => item.Ratings.FirstOrDefault().RatingScore)      <!--change to rating-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>                        <!--table to display results-->
         </div>
        <div class="form-check col-md-5">
            <ng-form class="in-line">
                <label class="form-check-label">
                    @Html.DropDownList("RatingSort", new SelectList(Enum.GetValues(typeof(ABRating))), "-rating-", new { @class = "form-control btn-sm" })
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "0", new { @class = "form-check-input" }) <br /> 0
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "1", new { @class = "form-check-input" }) <br /> 1
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "2", new { @class = "form-check-input" }) <br /> 2
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "3", new { @class = "form-check-input" }) <br /> 3
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "4", new { @class = "form-check-input" }) <br /> 4
                </label>
                <label class="form-check-label">
                    @Html.RadioButton("SelectedRating", "5", new { @class = "form-check-input" }) <br /> 5
                </label>
            </ng-form>
        </div>                      <!--Rating parameters-->
        }
    </div>
</div>
